@import "compass/css3";
@import "normalize";
@import "grid";
@import "variables";

*{
	&,
	&:before,
	&:after{
		@include box-sizing(border-box);
	}
}

html,
body{
	padding: 0;
	margin: 0;
	font-family: $primaryFont;
	color: #535353;
}

body{
	background: $quaternaryColor;
}

p,ol,ul{
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	margin: 0 0 $baseLineHeight 0;
}

.container{
	max-width: $siteWidth;
	margin: 0 auto;
}

section{
	overflow: auto;
	padding: 60px 0 80px;
}

img{
	max-width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6{
	margin-top: 0;
}

h2{
	font-size: 3em;
	font-weight: normal;
}

#masthead{
	background: white;
	position: fixed;
	text-align: center;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	font-family: $secondaryFont;
	line-height: 1em;
	@include box-shadow(0 0 0 2px rgba(0,0,0,.05));

	@media screen and (max-width: 768px){
		display: none;
	}

	ul,li{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li{
		display: inline-block;

		&.selected a{
			color: $primaryColor;
		}
	}

	img{
		vertical-align: middle;
		top: -2px;
		position: relative;
	}

	a{
		display: block;
		padding: 2em 1em;
		text-decoration: none;
		font-size: .7em;
		color: $secondaryColor;
		text-transform: uppercase;
		position: relative;

		&:hover{
			top: -1px;
		}

		&:active{
			top: 0;
		}
	}
}

#announcement{
	text-align: center;
	padding-top: 60px;
	position: relative;

	@media screen and (min-width: 768px){
		padding-top: 100px;

		.container{
			@include transform(translate(-50%,-50%));
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 50%;
		}
	}

	h4{
		display: inline-block;
		padding: 4px 16px;
		font-size: 12px;
		text-transform: uppercase;
		background-color: $tertiaryColor;
		font-family: $secondaryFont;
		font-weight: normal;
		color: $secondaryColor;
		position: relative;
		overflow: visible;

		&:before{
			content: "";
			position: absolute;
			background-image: url("../images/gray-banner-left.png");
			left: -21px;
			bottom: -4px;
			height: 24px;
			width: 29px;

			@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			only screen and (-o-min-device-pixel-ratio: 3/2),
			only screen and (min-device-pixel-ratio: 1.5) {
				background-size: 29px 24px;
		        background-image: url("../images/gray-banner-left@2x.png");
		    }
		}

		&:after{
			content: "";
			position: absolute;
			background-image: url("../images/gray-banner-right.png");
			right: -21px;
			bottom: -4px;
			height: 24px;
			width: 29px;

			@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			only screen and (-o-min-device-pixel-ratio: 3/2),
			only screen and (min-device-pixel-ratio: 1.5) {
				background-size: 29px 24px;
		        background-image: url("../images/gray-banner-right@2x.png");
		    }
		}
	}

	h1{
		font-size: 2.4em;
		padding: 0;
		margin: 0 0 .25em;
		color: $secondaryColor;
		font-weight: normal;

		@media screen and (min-width: 768px){
			font-size: 6em;
			margin-bottom: .25em;
		}

		span{
			color: $primaryColor;
		}
	}

	h2{
		font-size: 1em;
		margin-bottom: 2em;
		color: $secondaryColor;
		font-style: italic;
		font-weight: normal;

		@media screen and (min-width: 768px){
			font-size: 1.6em;
		}
	}

	.info{
		text-align: center;
	}

	.btn{
		display: inline-block;
		padding: .75em 1.5em;
		background-color: $primaryColor;
		margin-bottom: 10px;
		font-size: 1.2em;
		color: #fff;
		text-decoration: none;
		@include border-radius(4px);
	}
}

#information{
	background-image: url("../images/location.jpg");
	background-size: cover;
	position: relative;
	padding: 0;
	text-align: center;

	p{
		color: white;
		font-size: 1.2em;
		@include text-shadow(0 0 8px rgba(0,0,0,0.5));
		padding: 2em;

		@media screen and (min-width: 768px){
			font-size: 1.6em;
			padding: 0;
			@include transform(translate(-50%,-50%));
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 50%;
		}
	}
}

#rsvp{
	background-color: $secondaryColor;
	text-align: center;
	padding: 20px;

	@media screen and (min-width: 420px){
		padding: 60px 20px;
	}

	@media screen and (min-width: 768px){
		padding: 100px 20px;
	}

	.rsvp-form{
		margin: 0;
		padding: 20px;
		background-color: white;
		display: inline-block;
		border: 1px solid #eee;
		@include box-shadow(0 2px 3px rgba(#555,.3));

		@media screen and (min-width: 758px){
			padding: 40px;
		}

		form{
			border: 1px solid $primaryColor;
			padding: 20px;

			@media screen and (min-width: 758px){
				padding: 40px;
			}
		}

		.ss-form-question,
		.ss-q-title{
			margin-bottom: .75em;
		}

		input,
		select{
			font-size: 1.2em;
			padding: .2em;
			border: none;
			@include border-radius(4px);
			width: 100%;
		}

		input[type="text"],
		select{
			background-color: #f2f2f2;
		}

		input[type="submit"]{
			background-color: $primaryColor;
			padding: .7em 2em;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: .85em;
			color: white;
			font-family: $secondaryFont;
			width: 100%;
		}
	}

	iframe{
		border: 25px solid $tertiaryColor;
		margin: 0 auto;
	}
}

#story{
	text-align: center;
	background: $quinaryColor url("../images/jim_jamie_story_bg.jpg") no-repeat center -1px;
	background-size: 100% auto;

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {
		background-size: 100% auto;
        background-image: url("../images/jim_jamie_story_bg@2x.jpg");
    }

    .flourish{
    	margin: 0 auto 40px;
    }

    h2{
    	color: $secondaryColor;
    	margin-bottom: .25em;
    }

    p{
    	text-align: left;
    }

    .storytext{
    	@include column-count(2);
    }

}

#party{
	background: $primaryColor;
	text-align: center;

    h2{
    	color: $quaternaryColor;
    }

    h3{
    	margin-top: 0;
    	margin-bottom: 2em;
    	font-weight: normal;
    }

    .span_2 img{
    	border: 10px solid #fff;
    	margin-bottom: 10px;
    }

}

#directions{
	background: $quaternaryColor;
	text-align: center;

	#map-holder{
		position: relative;
		width: 100%;
		padding-top: 62.5%;
		margin-bottom: $baseLineHeight;
	}

	#map-canvas{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	h2{
		color: $primaryColor;
		margin-bottom: .25em;
	}

	.flourish{
		margin-bottom: 40px;
	}

	p{
		text-align: left;
	}
}

#registry{
	background: lighten($quaternaryColor,7%);
	padding: 80px 0 0;

	h2{
		margin: 0 0 .25em;
		color: $secondaryColor;
	}

	p{
		font-family: $secondaryFont;
		font-size: 14px;
	}

	.flourish{
		margin: 20px 0 30px;
	}

	.row{
		text-align: center;
		overflow: auto;
	}

	#gifts{
		clear: both;
		padding-top: 30px;
		font-family: $secondaryFont;
	}
}