@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans:400,700");

$primaryFont:Baskerville,sans-serif;
$secondaryFont:"Open Sans",sans-serif;

$siteWidth: 640px;

$baseFontSize: 110%;
$baseLineHeight: 1.5;

$primaryColor: #d93c37;
$secondaryColor: #634137;
$tertiaryColor: #9c8539;
$quaternaryColor: #fff;
$quinaryColor: #56572d;