@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans:700");

$primaryFont:Baskerville,sans-serif;
$secondaryFont:"Open Sans",sans-serif;

$siteWidth: 640px;

$baseFontSize: 19px;
$baseLineHeight: 27px;

$primaryColor: #fe916b;
$secondaryColor: #89c93d;
$tertiaryColor: #e3eb5b;
$quaternaryColor: #f9f7c6;
$quinaryColor: #fff;