@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans:700");

$primaryFont:Baskerville,sans-serif;
$secondaryFont:"Open Sans",sans-serif;

$siteWidth: 640px;

$baseFontSize: 110%;
$baseLineHeight: 1.5;

$primaryColor: #f94893;
$secondaryColor: #2f3850;
$tertiaryColor: #cecece;
$quaternaryColor: #fff;
$quinaryColor: #9b69b8;